/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script&family=Kanit:wght@300&family=Libre+Franklin:wght@100;300;800&family=Protest+Guerrilla&family=Roboto:wght@300&display=swap');
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    background-color: black;
}
.fonts{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.margin-auto {
    margin: auto;
}
.margin-top-100{
    margin-top: 100px;
}

.bold {
    font-weight: 500;
}

.dfjcac {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dfjeac {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.dfjcat {
    display: flex;
    justify-content: center;
    align-items: top;
}

.dfjlac {
    display: flex;
    justify-content: left;
    align-items: center;
}

.btlr-4{
    border-top-left-radius: 13px;
}
.btrr-4{
    border-top-right-radius: 13px;
}
.cfubb{
    min-width: 350px;
}
.min-w-350{
    min-width: 350px;
    width: 65%;
}
.audio-player{
    width: 90%;
    padding: 0px;
}
.row-box-shadow{
    box-shadow: 2px 2px 15px #ff2c02;
}

